/* src/components/Layout.module.css */

.titleBarRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem; /* p-4 */
  background-color: var(--win98-gray);
}

@media (min-width: 769px) {
  .container {
    height: 100vh;
  }
}

.window {
  /* flex: 1 0 auto; */
  background-color: var(--win98-gray);
  border-width: 2px;
  border-style: solid;
  border-top-color: var(--win98-light-gray);
  border-left-color: var(--win98-light-gray);
  border-right-color: var(--win98-dark-gray);
  border-bottom-color: var(--win98-dark-gray);
  width: 100%;
  max-width: 42rem; /* max-w-2xl */
  min-height: 658px;
  box-shadow: 1px 1px 0 1px var(--win98-black); /* Simple shadow */
  margin: auto;
  /* Add more robust shadow/bevel later if needed */
}

@media (max-width: 768px) {
  .container {
    padding: 5px;
  }
  .window {
    min-height: max(fit-content, -webkit-fill-available);
    margin: 0 auto 20px auto;
  }
}

.titleBar {
  background-color: var(--win98-blue);
  color: var(--win98-white);
  padding: 0.125rem 0.5rem; /* py-0.5 px-2 */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.25rem; /* text-sm */
  font-weight: 700; /* font-bold */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 1rem; /* p-4 */
} 
 